.commandes-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 1rem;
    height: 96%;

    .commandes-column {
        background: #8dae7d;
        border-radius: 0.75rem;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            text-align: center;
            font-size: 1.25rem;
            margin-bottom: 1rem;
            color: #1e293b;
        }

        .table-card {
            margin-bottom: 1rem;
        }
    }
}
