.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  & .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    text-align: left;

    & .popup-header {
      font-size: 1.5em;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: 10px;
      & .popup-title {
        color: black;
        font-size: 1.2em;
        margin-top: 5px;
      }

      & .popup-close {
        margin-left: auto;
        position: relative;
        bottom: 14px;
        left: 10px;
        & .IconButton {
          background: none;
          border: none;
          width: 25px;
          height: 25px;
          cursor: pointer;
          & .material-icons {
            font-size: 1em;
            color: black;
          }
        }
      }
    }
  }
}
