.category-item {
  display: flex;
  flex-direction: column;

  p {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .items-buttons {
    max-height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
