.category-item {
  display: flex;
  flex-direction: column;

  p {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .category-title {
    padding: 10px 0;
  }

  .items-buttons {
    max-height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

  }

  .category-open-extra {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }
}
