.BottomBarItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 4px 0;
  background-color: var(--palette-gray);
  border-radius: 25px;

  .item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin-right: 12px;
    background-color: #333;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }

  .item-name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 8px;
  }

  .item-close-button {
    width: 24px;
    height: 24px;
  }
}
