.table-card {
  border: 1px solid #000000;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 12rem;
  height: 13.5rem;
  transition: background-color 0.3s ease;

  &.occupied {
    background-color: var(--palette-dark-green);
    color: white;
  }

  &.free {
    background-color: var(--palette-light-green);
    color: white;
  }

  &.group-free {
    background-color: var(--palette-light-brown);
    color: white;
  }

  &.group-occupied {
    background-color: var(--palette-dark-brown);
    color: white;
  }

  h3 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }

  p {
    line-height: 0.15rem;
  }
}
