.menu-item-selection {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--palette-gray-light);
  color: black;

  & .menu-item-selection__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;

    & > .IconButton {
      margin: 0 5px;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--gray);
      & .material-icons {
        color: #212121;
        font-size: 24px;
      }
    }

    & .menu-item-selection__search {
      margin: 10px 5px;
      border-bottom: 1px solid #ccc;
      color: white;
    }
  }

  & .menu-item-selection__list {
    &.has-items {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 12px;
      overflow-y: auto;
      overflow-x: hidden;
      flex: 1;
    }

    &.is-loading {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .menu-item-selection__item {
      padding: 12px;
    }
  }

  & .menu-item-selection__footer {
    margin-top: auto;
  }
}
