.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  position: relative;

  .info-button {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--palette-light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;

    span {
      color: black;
      font-size: 1.2rem;
      font-weight: bold;
      font-style: italic;
      font-family: serif;
    }
  }

  & .item-img-container {
    width: 10rem;
    height: 9rem;
    margin-bottom: 8px;
    border-radius: 1rem;
    overflow: hidden;

    & .item-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .item-text-container {
    color: black;
    text-align: center;
  }
}
