.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;

  & .item-img-container {
    width: 10rem;
    height: 9rem;
    margin-bottom: 8px;
    border-radius: 1rem;
    overflow: hidden;

    & .item-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .icon-button-menu-item {
    position: relative;
    z-index: 1;

    .IconButton {
      position: absolute;
      bottom: -18px;
      left: 60px;
      background: black;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      .material-icons {
        color: var(--palette-green-light);
      }
    }
  }
  .item-text-container {
    color: black;
    text-align: center;
  }
}
