.item-detail-card {
  border: 1px solid #000;
  border-radius: 0.5rem;
  width: 14rem;
  background-color: var(--palette-gray-light);
  padding: 1rem;

  .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item-title {
      font-size: 1.3rem;
      margin: 0;
    }

    .item-checkbox {
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 0.5rem;
      accent-color: var(--palette-green);
      cursor: pointer;
    }
  }

  .item-quantity {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;

    .quantity-select {
      font-size: 1.2rem;
      margin: 0 0.5rem;
      padding: 0.3rem 0.25rem;
      border-radius: 0.5rem;
      border: 0.1rem solid #000;
      cursor: pointer;
      transition: all 0.2s ease;

      option {
        font-size: 1.25rem;
      }
    }
  }
}
