.menu-grid {
  height: 100%;
  width: 100%;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  padding: 1rem;
  height: 100%;
  align-items: center;
  justify-items: center;
  align-content: space-evenly;
}

.send-button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
