.orders-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2%;
  overflow-y: auto;
  height: 100vh;

  .orders-column {
    background: var(--palette-light-grey);
    border-radius: 0.75rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    h2 {
      text-align: center;
      font-size: 1.5rem;
      margin: 1rem 0;
    }

    .table-card {
      margin-bottom: 1rem;
    }
  }
}
