.payment-container {
  padding-left: 2%;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;

  & .header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding-bottom: 20px;
  }

  & .items-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    & .items-category-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: flex-start;
    }
  }

  .payment-table-separator {
    border: none;
    border-top: 4px solid var(--palette-gray);
    margin: -2% 2% 2% 0;
  }

  .payment-summary-separator {
    border: none;
    border-top: 4px solid var(--palette-gray);
    margin: 2% 2% 2% 0;
  }
}
