.tables-container {
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  box-sizing: border-box;
  .tables-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1rem 0;
  }
}
