.allergen-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  & .allergen-item {
    color: black;
    font-size: 1.2rem;
    margin: 5px 0;
    display: flex;
    align-items: center;
    width: 100%;
  }
}
