.custom-btn {
  padding: 1.3rem 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 1.875rem;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--palette-gray-light);
  background-color: var(--palette-green);
  -webkit-tap-highlight-color: transparent;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background-color: var(--palette-dark-green);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid var(--palette-dark-green);
    outline-offset: 2px;
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    background-color: var(--palette-dark-green);
  }

  &.selected {
    background-color: var(--palette-dark-green);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(0);

    &:hover {
      transform: translateY(0);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
      background-color: var(--palette-dark-green);
    }
  }
}
