.custom-btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--palette-gray-light);
  background-color: var(--palette-green);

  &:active {
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    background-color: var(--palette-dark-green);
  }
}
