.app {
  display: grid;
  grid-template-columns: 22vw 1fr;
  height: 100vh;
  background-color: var(--palette-gray-light);
  color: black;

  .sidebar {
    background: var(--palette-light-grey);
    color: white;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: sticky;
    top: 0;
    height: 100vh;
  }

  main {
    grid-column: 2;
    height: 100vh;
    overflow-x: hidden;
    h1 {
      width: 100%;
    }

    .tables {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}
